

* 
{
	margin:0px;
	padding:0px;
}

/*------------------NAvbar------------*/

.face
{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}



/*-----------Intro----------------------*/

.intro
{
	background-image: url(../images/bg-1..jpg);	
	background-size:cover;
	height: 560px;
	width: 100%;
	padding:0px;
}

.overlay
{

	height: 560px;
	width: 100%;
	background: rgba(0,0,0,0.7);
}

.intro_text
{
	padding-left: 10px;
	color: white;
	/*font-weight: bolder;*/
	padding-top: 150px;
}


.intro_text a
{
	text-transform: uppercase;
	margin-top: 5px;
}



.image img
{
	height: 555px;
	width: 100%;
}

.intro_contact
{
	padding-top: 200px;
}


.intro_text a
{
	margin-left: 25px;
}


.name_animate
{
	opacity:0;
}

.animate_title
{
	
}



/*----------Services--------------*/

 .services_container
 {
 	width: 80%;
 	margin:auto;

 }

.services
{
	margin-top: 40px;
	font-family: sans-serif;
	/*margin:5px !important*/;

}



.service_frontend
{
	background-color: #f7f7f7;
	margin:2px !important;
	margin:auto !important;
	margin: 2px 0px 2px 0px;
	/*display: none;*/
	

}

.service_backend
{
	background-color: #f7f7f7;
	margin: 2px 2px 2px 0px !important;
	margin:auto !important;
}

/*.service_backend .service_text
	{
		padding: 10px;
	}
*/


.service_heading
{
	font-weight: bolder;
	font-family: sans-serif;
}


.card img
{
	height: 90px;
	width: 90px;
	padding-left: 20px;
}


.service_image img
{
	margin-top: 30px;
	height: 90px;
	width: 90px;
}

.service_heading
{
	margin-top: 30px;
}

.service_text
{
	margin-top: 30px;
}









/*---------------Recent Project----------*/

.recent_project
{
	background: rgb(0,0,0,0.8);
	height: 500px;
	color: white;
	margin-top: 90px;
	padding-top: 50px;

}

.recent
{
	margin-top: 30px;
	font-weight: bolder;
}

.recent img
{
	padding-top: 10px;
	height: 250px;
	width: 350px;
	border: 0.5px solid skyblue;
}


.recent img:hover
{
	padding-top: 10px;
	height: 260px;
	width: 360px;
	border: 1px solid skyblue;
	transition-duration: 0.7s;

}


.view_button
{
	margin-top: 20px;
}


/*---------------------Unamed------------*/

.my_skills
{
	height: 250px;
	width: 100vw;
	margin-top: 50px;
}

.black h1
{
	font-weight: bold;
	background: rgb(0,0,0,0.8);
}
/*
.my_skills img
{
	height: 90px;
	width:90px;
}*/


 .skill_heading h1	
{
	margin-top: 20px;
	font-weight: bold;
	margin-bottom: 90px;


}



.img_html img,.img_js img,.img_laravel img,.img_css img,.img_php img
{
	height:90px;
	width: 90px;
}


/*
.img_html  img:hover,.img_js  img:hover,.img_laravel  img:hover,.img_css  img:hover,.img_php img:hover
{
	height: 100px;
	width: 100px;

}
*/

./*my_skills img:hover
{
	height: 100px;
	width:100px;
	overflow: hidden;
}*/

/*
.img_css,.img_js,.img_php
{
	height: 90px;
	width: 90px;
}*/




-----------------unknown-----------
.unknown
{
	height: 100px;
	width: 100%;
	background-color: pink;

}





/*---------Contact me--------------*/


.contact_me
{
	
	margin-top: 39px;
	width: 100%;
	height: 300px;
	background:rgb(0,0,0,0.8);
	color: white;
}

.contact_me h1
{
	margin-top: 50px;
	padding-top: 30px;
	font-weight: bold;
}



.hire
{
	/*height: 60px;
	width: 90px;*/
	border:1px solid skyblue;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	margin:30px;
}



.hire:hover
{
	/*height: 60px;
	width: 90px;*/
	transition-duration: 0.5s;
	border:1px solid skyblue;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	margin:30px;
	background:rgb(0,255,255,0.4);
	color: black;
}




.contact
{
	/*height: 60px;
	width: 90px;*/
	border:1px solid skyblue;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	margin:30px;
}


.contact:hover
{
	transition-duration: 0.5s;
	border:1px solid skyblue;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	margin:30px;
	background:rgb(0,255,255,0.4);
	color: black;
}












/*---------------footer-------------*/
.foot
{
	margin-top: 30px;
	
	background: rgb(0,0,0,0.8);
	width: 100%;
}

.social_icons img
{
	height: 100px;
	width: 100px;
	opacity: 0.8;
}


.footer_title
{
	color: white;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;

}

.footer_title h2
{
	border-bottom: 2px solid skyblue;
	
}


.icon_title
{
	padding-left: 17px;
	color: white;
	opacity: 0.8;
}


.si-1,.si-2,.si-3,.si-4
{
	opacity:0.5;
}

.si-1:hover,.si-2:hover,.si-3:hover,.si-4:hover
{
	opacity: 1.0;
	transition-duration: 0.3s;
}


/*---------------------KNow Me Beter--------------*/
.know_me_title h1
{
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 40px;
}


.school h1
{
	border-bottom: 1px solid skyblue;
}


.know_me_img
{
	border-radius: 50%;
}


.know_me_img img
{
	height: 450px;
	border-radius: 10%;
}

.school img
{
	height: 120px;
	width: 120px;
}




/*-----------footer copyright------------*/


.copyright
{
	padding-top: 70px;
	padding-bottom: 30px;
	font-size: 12px;
	color: white;
	opacity: 0.9;
}


/*---------------------Animations------------*/



.display_pop
{

	/*display: block;*/
	animation-name: bounce_right;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
	/*animation-iteration-count: infinite;*/


	
}


.display_pop_1
{
	/*display: block;*/
	animation-name: bounce_right;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
	/*animation-iteration-count: infinite;*/
}


@keyframes bounce_right {
  from {opacity: 0;}
  to {	opacity: 1.0}
}



@keyframes title_animation {
 0% {
 		padding-left: 0px;
 		opacity: 0;

     }

  100%
     {
     	padding-left: 0%;
     	opacity: 1.0;
     }
}



/*-------intro button animationn----*/
.animate_intro_button
{
	animation-name: bounce_right;
    animation-duration: 2s;
    animation-delay: 1.8s;
    animation-fill-mode: both;
}